@{
    ViewBag.Title = "List";
    Layout = "~/Views/_Layouts/AdminLayout.cshtml";
}

<style>
    .if {
        width: 95%;
        height: 700px;
        border: none;
    }
</style>
<h2>Write</h2>

<iframe class="if" src="~/Common/Plugins/DaumEditor/editor.html"></iframe>